<!-- Use the base template -->
{% extends "base.html" %}

<!-- Title for this page -->
{% block title %} Login {% endblock %}

<!-- Content for this page -->
{% block content %}
    <br>
    <div class="card col-md-3">
        <form>
            <legend class="form-text">Login</legend>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary form-group">Submit</button>
        </form>
    </div>
{% endblock %}