{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
<br>
{# Display the form validation errors #}
{% if form.errors %}
    <ul class="alert-warning list-unstyled">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
{# Display the form, turn off HTML validation #}
{# The (class_="") after a form field is used to apply css style to the element, in this case a bootstrap style #}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.name.label }}{{ form.name(class_="form-control") }}
    {{ form.email.label }}{{ form.email(class_="form-control") }}
    {{ form.password.label }}{{ form.password(class_="form-control") }}
    {{ form.confirm.label }}{{ form.confirm(class_="form-control") }}
    <br>{{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
